[language-server.emmet-lsp]
args = ["--stdio"]
command = "emmet-language-server"

[language-server.tailwindcss-ls]
args = ["--stdio"]
command = "tailwindcss-language-server"

[language-server.vscode-css-language-server]
args = ["--stdio"]
command = "vscode-css-language-server"
config.css.validate.enable = true
config.provideFormatter = true

[language-server.vscode-html-language-server]
args = ["--stdio"]
command = "vscode-html-language-server"

[[language]]
name = "html"
auto-format = true
file-types = ["html"]
language-servers = [
  "vscode-html-language-server",
  "emmet-lsp",
  "tailwindcss-ls",
]
roots = [
  ".git",
  "tailwind.config.js",
  "tailwind.config.cjs",
  "tailwind.config.ts",
]
scope = "source.html"

[[language]]
name = "css"
auto-format = true
file-types = ["css", "postcss"]
language-servers = [
  { name = "vscode-css-language-server", except-features = [
    "format",
  ] },
  "biome",
  "emmet-lsp",
  "tailwindcss-ls",
]
scope = "source.css"

[language-server]
biome = { command = "biome", args = ["lsp-proxy"] }

[[language]]
name = "javascript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]
auto-format = true

[[language]]
name = "typescript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]
auto-format = true

[[language]]
name = "tsx"
auto-format = true
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]

[[language]]
name = "jsx"
auto-format = true
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]

[[language]]
name = "json"
language-servers = [
  { name = "vscode-json-language-server", except-features = [
    "format",
  ] },
  "biome",
]
