[[language]]
name = "nix"
auto-format = true
formatter = { command = "nixfmt" }

[language-server.emmet-ls]
command = "emmet-language-server"
args = ["--stdio"]

[[language]]
name = "html"
auto-format = false
language-servers = ["vscode-html-language-server", "emmet-ls"]
formatter = { command = 'prettier', args = ["--parser", "html"] }

[[language]]
name = "css"
auto-format = false
language-servers = [
  # "stylelint",
  "vscode-css-language-server",
]
formatter = { command = 'prettier', args = ["--parser", "css"] }

# Ruby
[[language]]
name = "ruby"
# formatter = { command = "rubyfmt" }
# formatter = { command = "rubocop", args = [
#   "--stdin",
#   "foo.rb",
#   "-a",
#   "--stderr",
#   "--fail-level",
#   "fatal",
# ] }
formatter = { command = "rufo", args = ["--simple-exit"] }
auto-format = false
language-servers = ["ruby-lsp", "solargraph"]

[language-server.ruby-lsp]
command = "ruby-lsp"
config = { diagnostics = true, formatting = true }

[language-server.solargraph]
config.diagnostics = true
config.formatting = false

[[language]]
name = "erb"
language-servers = [
  "herb-lsp",
  # "herb-lint",
  "vscode-html-language-server",
  "emmet-ls",
  "ruby-lsp",
  # "rubocop",
]
file-types = ["erb", "html.erb"]
roots = ["Gemfile", "package.json"]
formatter = { command = "erb-format", args = [
  "--stdin",
  "--print-width",
  "80",
] }

[language-server.herb-lsp]
command = "herb-language-server"
args = ["--stdio"]

# [language-server.herb-lint]
# command = "herb-lint"
# args = ["--stdin", "--filename", "%f"]
# json = true

[language.auto-pairs]
'<' = '>'
'%' = '%'
"'" = "'"
'"' = '"'

[[language]]
name = "markdown"
language-servers = ["marksman"]
formatter = { command = "prettier", args = ["--parser", "markdown"] }

# [language-server.zk]
# command = "zk"
# args = ["lsp"]

# [[language]]
# name = "markdown"
# language-servers = ["zk"]

[language-server.deno-lsp]
command = "deno"
args = ["lsp"]
config.deno.enable = true

[[language]]
name = "typescript"
language-servers = ["deno-lsp"]
auto-format = true
roots = ["deno.json", "deno.jsonc", "package.json"]
# language-servers = ["typescript-language-server", "vscode-eslint-language-server"]
# formatter = { command = 'prettier', args = ["--parser", "typescript"] }

[[language]]
name = "javascript"
language-servers = ["deno-lsp"]
auto-format = true
roots = ["deno.json", "deno.jsonc", "package.json"]
# formatter = { command = 'prettier', args = ["--parser", "typescript"] }
# language-servers = ["typescript-language-server"]

# [[language]]
# name = "tsx"
# auto-format = true
# language-servers = ["typescript-language-server", "vscode-eslint-language-server", "emmet-ls"]
# formatter = { command = 'prettier', args = ["--parser", "typescript"] }

# [[language]]
# name = "jsx"
# auto-format = true
# language-servers = ["typescript-language-server", "vscode-eslint-language-server", "emmet-ls"]
# formatter = { command = 'prettier', args = ["--parser", "typescript"] }

# [[language]]
# name = "json"
# formatter = { command = 'prettier', args = ["--parser", "json"] }


# [[language]]
# name = "vue"
# formatter = { command = 'prettier', args = ["--parser", "vue"] }
# auto-format = true

# BIOME

# [language-server]
# biome = { command = "biome", args = ["lsp-proxy"] }

# [[language]]
# name = "javascript"
# language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
# auto-format = true

# [[language]]
# name = "typescript"
# language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
# auto-format = true

# [[language]]
# name = "tsx"
# auto-format = true
# language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]

# [[language]]
# name = "jsx"
# auto-format = true
# language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]

# [[language]]
# name = "json"
# language-servers = [ { name = "vscode-json-language-server", except-features = [ "format" ] }, "biome" ]
